<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Kewin Marchand">
        <meta name="description" content="">

        <!-- metas openGraph  (Facebook, Google +, Linkedin...)-->
        <meta property="og:title" content="" />
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:description" content="">

        <!-- metas twitter-->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <title>Exercice Firebase + Vue.js</title>

        <!-- Bootstrap.css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- style.css -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <div id="app">
            <nav class="navbar navbar-light bg-dark">
                <a class="navbar-brand text-white" v-bind:title="brand">{{ brand }}</a>
                <form class="form-inline">
                    <button class="btn btn-sm btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#connectionModal" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle connexion modal">Connexion</button>
                    <button class="btn btn-sm btn-danger my-2 my-sm-0" type="button" v-if="connected">Déconnexion</button>
                </form>
            </nav>

            <!-- Modal -->
            <div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="connectionModalCenterTitle">Connexion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <div class="form-group">
                                    <label id="labelEmail" for="inputEmail">Votre email</label>
                                    <input type="email" class="form-control" id="email" v-model="email" aria-describedby="labelEmail" placeholder="Entrez votre email" autocompletion="email">
                                    
                                </div>
                                <div class="form-group">
                                    <label id="labelPassword"for="inputPassword">Votre mot de passe</label>
                                    <input type="password" class="form-control" id="password" v-model="password" aria-describedby="labelPassword" placeholder="Entrez votre password">
                                    <small id="connectionHelp" class="form-text text-muted">Nous ne partageons vos données avec personne</small>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group m-auto" role="group" aria-label="Groupe de boutons connexion">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-sm btn-outline-primary">Je m'inscris</button>
                                <button type="button" class="btn btn-sm btn-outline-success">Je me connecte</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Google Id</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        
        </div>
        <!-- Bootstrap.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Vue.js version dev avec avertissements -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <!-- Vue.js version prod pour la mise en ligne -->
        <!--script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script-->
        
        <!-- Firebase.js -->
        <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>